{% extends 'base.html.twig' %}

{% block title %}Edit ListeCourse
{% endblock %}

{% block body %}
    <div class ="mt-9">
        <a href="{{ path('app_liste_course_index') }}" class="ml-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
           <i class="fas fa-arrow-circle-left"></i> Retour à la liste
        </a>
    </div>
	<div class="flex flex-row justify-center items-start ml-9 mt-9">
		<div class="w-1/2 bg-white shadow-lg  rounded-lg">

			<h2 class="text-center text-lg">Liste de Course
			</h2>
			{{ form_start(form) }}

			<div class="ml-5 mr-5 flex flex-row justify-between mb-4">
				<div class="w-full mr-4">
					{{ form_label(form.nom, 'Nom Article') }}
					{{ form_widget(form.nom, { 'attr': {'class': 'w-full border rounded px-3 py-2'} }) }}
				</div>
				<div class="w-full mr-4">
					{{ form_label(form.quantite, 'Quantité') }}
					{{ form_widget(form.quantite, { 'attr': {'class': 'w-full border rounded px-3 py-2'} }) }}
				</div>
				<div class="w-full mr-4">
					{{ form_label(form.prixUnitaire, 'Prix Unitaire') }}
					{{ form_widget(form.prixUnitaire, { 'attr': {'class': 'w-full border rounded px-3 py-2'} }) }}
				</div>
				<div class="w-full">
					{{ form_label(form.categorie, 'Categorie') }}
					{{ form_widget(form.categorie, { 'attr': {'class': 'w-full border rounded px-3 py-2'} }) }}
				</div>
				<button type="submit" class="ml-2 py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-700">
					<i class="fas fa-plus"></i>
				</button>
			</div>

			{{ form_end(form) }}


			<!-- Tableau -->
			<div class="ml-5 mr-5 mb-20">
				<table class="table-auto">
					<thead>
						<tr>
							<th class="px-4 py-2"></th>
							<th class="px-4 py-2">Nom</th>
							<th class="px-4 py-2">Quantite</th>
							<th class="px-4 py-2">PrixUnitaire</th>
							<th class="px-4 py-2"></th>
						</tr>
					</thead>
					<tbody>
						{% for article in articles %}
							<tr>
								<td class="border px-4 py-2">
									<a onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-course-delete-form{{article.id}}').submit(); " class="text-red-500 hover:text-red-700">
										<i class="fas fa-trash"></i>
									</a>

									<form id="js-course-delete-form{{article.id}}" action="{{ path('app_liste_course_article_delete', {'id': article.id}) }}" method="post" style="dysplay:none;">
										<input type="hidden" name="csrf_token" value="{{ csrf_token('delete' ~ article.id)}}">
										<input type="hidden" name="_method" value="DELETE">
									</form>
								</td>
								<td class="border px-4 py-2  ">
									<span class="truncate w-24 inline-block">

										{{article.nom}}
									</span>

								</td>
								<td class="border px-4 py-2">{{article.quantite}}</td>
								<td class="border px-4 py-2">{{article.prixUnitaire}}</td>
								<td class="border px-4 py-2">
									<a href="{{ path('app_liste_course_toggle_article', {'id': article.id}) }}" class=" {{article.estAcheter ? 'text-green-500 hover:text-green-700' : 'text-gray-500 hover:text-gray-700' }}  ">

										<i class="fa-regular fa-circle-check"></i>
									</a>
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>


		</div>
		<!-- Formulaire -->

		<!-- Encadrés -->
		<div class=" ml-9 flex flex-col space-y-4 items-center">
			<div class="w-72 bg-white h-32 rounded-lg shadow-lg p-4 hover:shadow-xl transition duration-500">
				<i class="block text-center fas fa-euro-sign text-gray-500 text-3xl mb-2"></i>
				<div class="text-center">

					<span class=" text-xl font-bold">Prix total:</span>
					<span class=" text-gray-600 text-lg">{{prix_total}}€</span>
				</div>
			</div>
			<div class="bg-white w-72 h-32 rounded-lg shadow-lg p-4 hover:shadow-xl transition duration-500">
				<i class="block text-center fas fa-arrow-circle-up text-green-500 text-3xl mb-2"></i>
				<div class="block text-center truncate w-64">
					<span class="text-xl font-bold">Plus cher:</span>
					<span class="text-gray-600 text-lg ">{{article_plus_cher ? article_plus_cher.nom  : 'N/A'}}</span>
				</div>
				<div class="block text-center">
					<span class="text-xl font-bold">Prix:</span>
					<span class="text-gray-600 text-lg">{{article_plus_cher ? article_plus_cher.prixUnitaire * article_plus_cher.quantite ~ '€': 'N/A'}}</span>
				</div>
			</div>
			<div class="bg-white w-72 h-32 rounded-lg shadow-lg p-4 hover:shadow-xl transition duration-500">
				<i class="block text-center fas fa-arrow-circle-down text-red-500 text-3xl mb-2"></i>
				<div class="block text-center truncate w-64">

					<span class="text-xl font-bold">Moins cher:</span>
					<span class="text-gray-600 text-lg ">{{article_moin_cher ? article_moin_cher.nom : 'N/A'}}</span>
				</div>
				<div class="block text-center">

					<span class="text-xl font-bold">Prix</span>
					<span class="text-gray-600 text-lg">{{article_moin_cher ? article_moin_cher.prixUnitaire * article_moin_cher.quantite ~ '€' : 'N/A'}}</span>
				</div>
			</div>
		</div>


		{# </div> #}
	</div>


	<div class="flex flex-row overflow-x-auto whitespace-nowrap mt-9">
		{% for categ in stat_frequence %}
			<div class="flex-shrink-0 w-64 bg-white shadow-md m-2 rounded-lg p-4 hover:shadow-lg transition-shadow duration-300">
				<h2 class="font-bold text-xl mb-4">{{categ.nom}}</h2>
				<div class="flex flex-row justify-between">
					<div class="text-sm font-medium text-gray-500">Pourcentage</div>
					<div class="text-sm font-medium text-gray-700">Prix €</div>
				</div>
				<div class="flex flex-row justify-between mt-2">
					<div class="text-lg font-bold text-gray-700">{{categ.percent|number_format(2)}}%</div>
					<div class="text-lg font-bold text-gray-700">{{categ.prix_total|number_format(2)}}€</div>
				</div>
			</div>
		{% endfor %}


		<!-- Ajouter d'autres encadrés ici -->

	</div>

{% endblock %}
