{% extends 'base.html.twig' %}

{% block title %}ListeCourse index
{% endblock %}

{% block body %}
	<h1 class="text-center text-3xl">Application de liste de course</h1>
	<div class="flex flex-row justify-center items-start ml-9 mt-9">
		<div class="w-1/2 bg-white pb-20 shadow-lg  rounded-lg">

			<h2 class="text-center text-lg">Liste de Course
			</h2>
			{{ form_start(form) }}
			<div
				class="flex mx-5 flex-row items-center mb-4">
				{# <div class="w-1/2 p-2"> #}
				{{ form_label(form.nom, 'Nom de la liste ', { 'attr': {'class': 'w-2/5 text-gray-700 font-bold'} }) }}

				<div
					class="w-3/5 ml-5">
					{# <input type="text" id="input_id" name="input_name" class="rounded-lg border-gray-400 border-2 py-2 px-4 w-full focus:outline-none focus:border-blue-500"> #}
					{{ form_widget(form.nom, { 'attr': {'class': 'rounded-lg border-gray-400 border-2 py-2 px-4 w-full focus:outline-none focus:border-blue-500'} }) }}
				</div>

				{# <div class="flex"> #}
				<button type="submit" class="ml-2 py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-700">
					<i class="fas fa-plus"></i>
				</button>
				{# </div> #}
				{{ form_errors(form.nom) }}
				{# </div> #}
			</div>
			{{ form_end(form) }}


			<!-- Tableau -->
			<div class="flex justify-center">
				<table class="table-auto">
					<thead>
						<tr>
							<th class="px-4 py-2"></th>
							<th class="px-4 py-2">Nom</th>
							<th class="px-4 py-2"></th>
						</tr>
					</thead>
					<tbody>
						{% for liste_course in liste_courses %}
							<tr>
								<td class="border px-4 py-2">
									<a onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-course-delete-form{{liste_course.id}}').submit(); " class="text-red-500 hover:text-red-700">
										<i class="fas fa-trash"></i>
									</a>

									<form id="js-course-delete-form{{liste_course.id}}" action="{{ path('app_liste_course_delete', {'id': liste_course.id}) }}" method="post" style="dysplay:none;">
										<input type="hidden" name="csrf_token" value="{{ csrf_token('delete' ~ liste_course.id)}}">
										<input type="hidden" name="_method" value="DELETE">
									</form>
								</td>
								<td class="border px-4 py-2">
								<span class="truncate w-24 inline-block">
										{{liste_course.nom}}
									</span>
								</td>
								<td class="border px-4 py-2">
									<a href="{{ path('app_liste_course_edit', {'id': liste_course.id}) }}" class="text-blue-500 hover:text-blue-700">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>

			<h2 class="mt-9 text-center text-lg">Liste des categories</h2>

			{{ form_start(formCategorie) }}
			<div
				class="flex mx-5 flex-row items-center mb-4">
				{# <div class="w-1/2 p-2"> #}
				{{ form_label(formCategorie.nom, 'Nom de la categorie', { 'attr': {'class': 'w-2/5  text-gray-700 font-bold'} }) }}

				<div
					class="w-3/5 ml-5">
					{# <input type="text" id="input_id" name="input_name" class="rounded-lg border-gray-400 border-2 py-2 px-4 w-full focus:outline-none focus:border-blue-500"> #}
					{{ form_widget(formCategorie.nom, { 'attr': {'class': 'rounded-lg border-gray-400 border-2 py-2 px-4 w-full focus:outline-none focus:border-blue-500'} }) }}
				</div>

				{# <div class="flex"> #}
				<button type="submit" class="ml-2 py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-700">
					<i class="fas fa-plus"></i>
				</button>
				{# </div> #}
				{{ form_errors(formCategorie.nom) }}
				{# </div> #}
			</div>
			{{ form_end(formCategorie) }}

			<div class="flex justify-center">
				<table class="table-auto">
					<thead>
						<tr>
							<th class="px-4 py-2"></th>
							<th class="px-4 py-2">Nom</th>
						</tr>
					</thead>
					<tbody>
						{% for categorie in categories %}
							<tr>
								<td class="border px-4 py-2">
									<a onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-categ-delete-form{{categorie.id}}').submit(); " class="text-red-500 hover:text-red-700">
										<i class="fas fa-trash"></i>
									</a>
									<form id="js-categ-delete-form{{categorie.id}}" action="{{ path('app_categorie_delete', {'id': categorie.id}) }}" method="post" style="dysplay:none;">
										<input type="hidden" name="csrfi_token" value="{{ csrf_token('delete' ~ categorie.id)}}">
										<input type="hidden" name="_method" value="DELETE">
									</form>
								</td>
								<td class="border px-4 py-2">

									<span class="truncate w-24 inline-block">

										{{categorie.nom}}
									</span>
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>


		</div>
		<!-- Formulaire -->

		<!-- Encadrés -->
		<div class="flex flex-col items-center justify-around w-1/2 h-screen">
			<div class="w-72 bg-white h-32 rounded-lg shadow-lg p-4 hover:shadow-xl transition duration-500">
				<i class="block text-center fas fa-euro-sign text-gray-500 text-3xl mb-2"></i>
				<div class="text-center">

					<span class=" text-xl font-bold">Prix total:</span>
					<span class=" text-gray-600 text-lg">{{prix_total}}€</span>
				</div>
			</div>
			<div class="bg-white w-72 h-32 rounded-lg shadow-lg p-4 hover:shadow-xl transition duration-500">
				<i class="block text-center fas fa-arrow-circle-up text-green-500 text-3xl mb-2"></i>
				<div class="block text-center">
					<span class="text-xl font-bold">le plus cher:</span>
					<span class="text-gray-600 text-lg">{{article_plus_cher ? article_plus_cher.nom  : 'N/A'}}</span>
				</div>
				<div class="block text-center">
					<span class="text-xl font-bold">Prix:</span>
					<span class="text-gray-600 text-lg">{{article_plus_cher ? article_plus_cher.prixUnitaire * article_plus_cher.quantite ~ '€': 'N/A'}}</span>
				</div>
			</div>
			<div class="bg-white w-72 h-32 rounded-lg shadow-lg p-4 hover:shadow-xl transition duration-500">
				<i class="block text-center fas fa-arrow-circle-down text-red-500 text-3xl mb-2"></i>
				<div class="block text-center">

					<span class="text-xl font-bold">le moins cher:</span>
					<span class="text-gray-600 text-lg">{{article_moin_cher ? article_moin_cher.nom : 'N/A'}}</span>
				</div>
				<div class="block text-center">

					<span class="text-xl font-bold">Prix</span>
					<span class="text-gray-600 text-lg">{{article_moin_cher ? article_moin_cher.prixUnitaire * article_moin_cher.quantite ~ '€' : 'N/A'}}</span>
				</div>
			</div>
		</div>
	</div>

	<div
		class="flex flex-row overflow-x-auto whitespace-nowrap mt-9">
		{% for categ in stat_frequence %}
		<div class="flex-shrink-0 w-64 bg-white shadow-md m-2 rounded-lg p-4 hover:shadow-lg transition-shadow duration-300">
			<h2 class="font-bold text-xl mb-4">{{categ.nom}}</h2>
			<div class="flex flex-row justify-between">
				<div class="text-sm font-medium text-gray-500">Pourcentage</div>
				<div class="text-sm font-medium text-gray-700">Prix €</div>
			</div>
			<div class="flex flex-row justify-between mt-2">
				<div class="text-lg font-bold text-gray-700">{{categ.percent|number_format(2)}}%</div>
				<div class="text-lg font-bold text-gray-700">{{categ.prix_total|number_format(2)}}€</div>
			</div>
		</div>
		{% endfor %}


		<!-- Ajouter d'autres encadrés ici -->

	</div>
{% endblock %}
